<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$finder = Finder::create()
    ->notName('AppBundle.php')
    ->in(__DIR__)
;

return Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'phpdoc_var_without_name' => false,
    ))
    ->setFinder($finder);