{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ url('authorise_with_twitter') }}">Authorise on Twitter</a>

    <h1>{{ account_information['screen_name']|default('You haven\'t authorised with Twitter yet.') }}</h1>

{% endblock %}