<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #0077DF;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{{ path('homepage') }}">Twitter Sentiment Analyser</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if app.request.get('_route') == 'homepage' %} active {% endif %}">
                <a class="nav-link" href="{{ path('homepage') }}">Home</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'topic_analyses' %} active {% endif %}">
                <a class="nav-link" href="{{ path('topic_analyses') }}">Topics</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'user_analyses' %} active {% endif %}">
                <a class="nav-link" href="{{ path('user_analyses') }}">Users</a>
            </li>
        </ul>
    </div>
</nav>