{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/results.js') }}"></script>
    <script>
        var url = "{{ url('refreshTweetList') }}"
    </script>
{% endblock %}

{% block body %}
    <div id="chart" style="position: relative; height: 75vh">
        <canvas id="myChart"></canvas>
    </div>

    {% include 'default/tweet_list.html.twig' %}
{% endblock %}
